body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f; /* Dark grey */
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  .quote-card {
    background-color: #2f2f2f; /* Darker grey */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
  }
  
  .quote {
    font-size: 1.5rem;
    color: #ffffff; /* White */
    margin-bottom: 20px;
  }
  
  .btn {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff; /* Blue */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  .saved-quotes {
    width: 80%;
    max-width: 600px;
  }
  .SavedQts{
    color: #ffffff;
  }
  
  .saved-quote {
    background-color: #2f2f2f; /* Darker grey */
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: #ffffff; /* White */
  }
  
  .saved-quote:hover {
    transform: translateY(-3px);
  }
  